body{
  background:#fafbfc;
}

.contentWrap {
  width: 1130px;
  height: auto;
  min-height: calc(100% - 72px);
  padding-bottom: 180px;
  text-align: center;
}

.contentWrap2 {
  width: 100%;
  height: auto;
  min-height: calc(100% - 72px);
  padding-bottom: 180px;
  text-align: center;
}

.content {
  width: 100%;
  display: inline-block;
  padding-top: 100px;
}

.clistcontent {
  width: 1130px;
  display: inline-block;
  padding-top: 100px;
}

.indexBox{
    margin-top:100px;
    margin-bottom:100px;
}

.searchicon img{
    transition: all 0.2s linear;
}

.searchicon img:hover{
    background:#7ED2FF;
    transform: scale(1.4);
}

.list {
    list-style:none;
    padding: 0;
}

.search-box {
  width: 300px;
}

.list-item {
  border: 1px solid gray;
  border-radius: 6px;
  margin-bottom: 10px;
}

.list-item-box {
  flex: 0 0 75%;
  display: flex;
  text-align: left;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 10px;
  margin-right: 10px;
}

.list-content {
  width: 900px;
}

.area {
  padding: 10px 5px;
  width: 80px;
  background-color: purple;
  color: white;
  border-radius: 6px;
  text-align: center;
  display: inline-block;
}

.move {
  text-decoration: none;
}

.move h3 {
  margin: auto 0;
}

.qname {
  display: flex;
  padding-left: 10px;
}

.organizer {
  width: 208px;
}

.tag {
  cursor: pointer;
  background: #b8b8b8;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  margin-left: 8px;
}

.tag.active {
  background: green;
}

.top-box {
  border: 1px solid black;
  border-radius: 6px;
  text-align: left;
  margin-bottom: 15px;
  padding: 20px 20px;
}

.mid-box {
  display: inline-block;
  width: 100%;
  padding: 15px 0;
}

.date {
  width: 410px;
  padding-left: 10px;
}

.title-qname {
    text-align: left;
    display: inline-block;
}

.summary {
    margin-top:15px;
}

.btnLink {
    width: 250px;
}

.example {
    width: 570px;
    text-align: left;
    margin: 0 auto;
    border: 1px solid gray;
    border-radius: 6px;
    padding-top: 10px;
}

#frm01 {
    width: 570px;
    margin: 0 auto;
}

.frmLabelBox {
    margin-bottom: 0;
    margin-right: 20px;
}

.frmLabel {
    width: 150px;
    text-align: left;
}

.inputBox {
    width: 400px;
}

#wrap-loading {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    display: none;
}
.organizer{
    width:fit-content;
}
.organizer a{
    text-decoration:none;
    border:1px solid green;
    border-radius:6px;
    background:#0d6efd;
    color:white;
    padding:2px 2px;
}

.organizer a:hover{
    background:#0b5ed7;
}


